html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  overflow-x: hidden!important;
  font-family: 'Roboto', sans-serif;
}

ul,li {
  margin-bottom: 0!important;
}

a{
  text-decoration: none!important;
  &:active{
    text-decoration: none;

  }
  &:hover{
    text-decoration: none;

  }
}

.outline-none{
  outline: none!important;
}
.box-shadow-none{
  box-shadow: none!important;
}
